<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        .sharers {
            display: flex;
            flex-direction: row;
        }

        .sharer {
            border: 1px solid gray;
            border-radius: 10px;
            padding: 30px;
            margin: 10px;
        }

        .sharer.dragover {
            border: 1px solid black;
        }

        .sharer img {
            width: 100px;
            height: 100px;
        }
    </style>

    <link rel="icon" href="/public/favicon.png">
    <title>queuecumber</title>
</head>
<body>
    <div>
        {{ range $flash := .Flashes }}
            <div><p>{{ $flash }}</p></div>
        {{ end }}
    </div>

    <p>Hello {{ .User.DisplayName }}!</p>

    <form action="/users/follow">
        <input type="text" placeholder="user id, uri, or link " name="user_identifier"/>
        <button type="submit">Add Friend</button>
    </form>

    <h2>Queues Shared With You</h2>
    <div class="sharers">
        {{ range $sharer := .Sharers }}
            <div id="{{ $sharer.ID }}"
                 class="sharer"
                 ondrop="dropHandler({{ $sharer.ID }})(event)"
                 ondragover="dragOverHandler(event)"
                 ondragleave="dragLeaveHandler(event)"
            >

                <h3>{{ $sharer.DisplayName }}</h3>

                {{ if $sharer.Images }}
                    <img src="{{ (index $sharer.Images 0).URL }}" alt="{{ $sharer.DisplayName }}'s profile image">
                {{ end }}
            </div>
        {{ end }}
    </div>

    <h2>Users You've Shared Your Queue With</h2>
    <div class="shares">
        {{ range $share := .Shares }}
            <div>{{ $share.DisplayName }}</div>
        {{ end }}
    </div>

    <script>
        function dropHandler(id) {
            return function(event) {
                event.preventDefault();
                const data = event.dataTransfer.getData('text/plain');
                console.log(data);

                fetch(`/users/queue?user_id=${id}&song_identifier=${data}`, {method: 'post'})
                    .then(() => location.reload())
                    .catch((error) => console.log('error queueing song', error));
            };
        }


        function dragOverHandler(event) {
            event.preventDefault();
            event.dataTransfer.dropEffect = 'link';
            event.target.classList.add('dragover');
        }

        function dragLeaveHandler(event) {
            event.preventDefault();
            event.target.classList.remove('dragover');
        }
    </script>
</body>
</html>
