<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        .followers {
            display: flex;
            flex-direction: row;
        }

        .follower {
            border: 1px solid gray;
            border-radius: 10px;
            padding: 30px;
            margin: 10px;
        }

        .follower.dragover {
            border: 1px solid black;
        }

        .follower img {
            width: 100px;
            height: 100px;
        }
    </style>

    <link rel="icon" href="/public/favicon.png">
    <title>queuecumber</title>
</head>
<body>
    <div>
        {{ range $flash := .Flashes }}
            <div><p>{{ $flash }}</p></div>
        {{ end }}
    </div>

    <p>Hello {{ .User.DisplayName }}!</p>

    <form action="/users/follow">
        <input type="text" placeholder="user id, uri, or link " name="user_identifier"/>
        <button type="submit">Add Friend</button>
    </form>

    <h2>Queues</h2>
    <div class="followers">
        {{ range $follower := .Followers }}
            <div id="{{ $follower.ID }}"
                 class="follower"
                 ondrop="dropHandler({{ $follower.ID }})(event)"
                 ondragover="dragOverHandler({{ $follower.ID }})(event)"
                 ondragleave="dragLeaveHandler({{ $follower.ID }})(event)"
            >

                <h3>{{ $follower.DisplayName }}</h3>

                {{ if $follower.Images }}
                    <img src="{{ (index $follower.Images 0).URL }}" alt="{{ $follower.DisplayName }}'s profile image">
                {{ end }}
            </div>
        {{ end }}
    </div>

    <script>
        function dropHandler(id) {
            return function(event) {
                event.preventDefault();
                const data = event.dataTransfer.getData('text/plain');
                console.log(data);

                fetch(`/users/queue?user_id=${id}&song_identifier=${data}`, {method: 'post'})
                    .then(() => location.reload())
                    .catch((error) => console.log('error queueing song', error));
            };
        }


        function dragOverHandler(id) {
             return function(event) {
                event.preventDefault();
                event.dataTransfer.dropEffect = 'link';
                const el = document.getElementById(id);
                 el.classList.add('dragover');
            };
        }

        function dragLeaveHandler(id) {
             return function(event) {
                event.preventDefault();
                const el = document.getElementById(id);
                 el.classList.remove('dragover');
            };
        }
    </script>
</body>
</html>
