@import "reset.scss";
@import "shake.scss";

html, body, #root {
    width: 100%;
    height: 100%;

    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 50%;

    width: 100%;
    height: 100%;
}

button {
    border: 1px solid lightgray;
    width: fit-content;
    height: fit-content;
    padding: 8px;
    align-items: baseline;

    &:hover {
        border-color: gray;
    }
}

.spotify-authorize {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.welcome {
    font-size: 18px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;

    margin: 20px 0;

    .logo {
        display: flex;
        flex-flow: row;

        img {
            width: auto;
            height: 18px;
        }
    }
}

.sharers-title, .shares-title {
    font-size: 30px;
}

.card {
    margin: 5px;
    border-width: 1px;
    border-color: lightgray;

    user-select: none;
    cursor: pointer;

    &:hover {
        border-color: black;
    }
}

$sharer-padding: 20px;
$sharer-image-size: 100px;

.sharers-header, .shares-header {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    justify-content: space-between;

    .sharers-message {
        color: lightcoral;
    }
}

.sharers-container, .shares-container {
    margin: 20px 0;
}

.sharers {
    display: flex;
    flex-flow: row;

    margin: 20px 0;

    .sharer {
        width: fit-content;
        padding: 20px;
        border-style: solid;

        .name {
            display: flex;
            flex-flow: row;
            justify-content: center;
        }

        img.image {
            width: 100px;
            height: auto;
        }
    }
}

.shares {
    margin: 20px 0;

    .share {
        border: 1px solid lightgray;
        padding: 10px;
        margin: 10px;
        width: 50%;

        display: flex;
        flex-flow: row;
        align-items: center;

        img.image {
            width: 30px;
            height: auto;
        }

        .name {
            margin-left: 10px;
        }
    }

    .add {
        color: gray;
        border: 1px dashed lightgray;
    }
}
